body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6; /*межстрочный оступ*/
}

*,
*:before,
*:after
{
	box-sizing: border-box;
}

.fa-magnifying-glass {
    color: black;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
	margin: 0 auto;
	width: 1170px;
}

.section {
	margin: 0;
	padding: 0;
	width: 100%;
}

.wrapper__between {
	display: flex;
	justify-content: space-between;
}


.section__gray {
    background-color: #e0e0e0;
}

.section__intro {
    background: radial-gradient(circle, rgba(127,198,224,1) 0%, rgba(77,60,135,1) 100%);
}

ul {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}


/* main and intro */

.intro {
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: transform .2s linear;
}

.intro.hide {
    transform: translateY(-75px);
}

.section__intro {
    padding: 15px 0;
}

.intro__a {
    text-decoration: none;
    color: inherit;
}

.intro__book {
    font-size: 40px;
}

.wrapper__between {
    align-items: center;
}


.intro__wrapper{
    align-items: center;
}

.intro__nav li{
    display: inline;
    font-weight: 700;
    color: #000;
}

.intro__nav a:not(:last-child){
    margin-right: 100px;
}

.intro__nav a {
    text-decoration: none;
    color: inherit;
    position: relative;
    text-decoration: none;
    font-size: 18px;
    
}

.intro__nav a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
  
a:hover::after {
    transform: scaleX(1);
}

/* footer */

.footer {
    background-color: #000;
    padding: 30px 0;
}

.footer__block {
    text-align: center;
}

.footer__name {
    background: linear-gradient(45deg, #2ecef7, #a7279c, #2ecef7);
    background-clip: text;
    -webkit-background-clip: text; /* для підтримки веб-кіт браузерів */
    color: transparent;
    margin-bottom: 10px;
}

.footer__github {
    width: 50px;
}

.footer__insta {
    color: #c12568;
}

.footer__tg {
    color: #3fc7e9;
}

.footer__mail {
    color: #b09121;
}

.footer__block a {
    text-decoration: none;
}

.footer__git {
    color: #bf73bc;
}

.footer__year {
    color: #fff;
}

.wrapper__category {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px 0 30px;
}

.book {
    margin-bottom: 20px;
}

.book__category {
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    padding: 3px;
}

.htmlbook {
    background-color: #ff960c;
}

.cssbook {
    background-color: #45a0eb;
}

.jsbook {
    background-color: #ffe602;
}

.main-btn {
    padding: 5px 20px;
    border-radius: 50px;
}


.btn-html {
    border: 2px solid #ff960c;
    box-shadow: 5px 0px 15px #ff960c;
    color: #ff960c;
    transition: all .1s ease-in;
}

.btn-html:hover {
    background-color: #ff960c;
    color: #fff;
}

.btn-css {
    border: 2px solid #45a0eb;
    box-shadow: 5px 0px 15px #45a0eb;
    color: #45a0eb;
    transition: all .1s ease-in;
}

.btn-css:hover {
    background-color: #45a0eb;
    color: #fff;
}

.btn-js {
    border: 2px solid #ffe602;
    box-shadow: 5px 0px 15px #ffe602;
    color: #ffe602;
    transition: all .1s ease-in;
}

.btn-js:hover {
    background-color: #ffe602;
    color: #fff;
}

.btn-all {
    border: 2px solid #000000;
    box-shadow: 5px 0px 15px #000000;
    color: #000000;
    transition: all .1s ease-in;
}

.btn-all:hover {
    background-color: #000000;
    color: #fff;
}

.form-control::placeholder {
    color: #ffffff !important;
}

input:focus {
    box-shadow: none !important;
}
